html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #FFF;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}


/* Testing utilities. */
.highlight-red {
	background-color: rgba(255,0,0,0.4);
}

.highlight-green {
	background-color: rgba(0,255,0,0.4);
}

.highlight-blue {
	background-color: rgba(0,0,255,0.4);
}

.content {
	width: 46rem;
	margin: 0 auto;
}


/* Typography Stuff */
a {
	text-decoration: none;
}


/* Navigation */
.topNav {
	width: 100%;
	padding: .5rem;
	line-height: 0;
	background-color: #FFF;
	border-bottom: 1px dotted #DDD;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
}

.topNav > .content {
	height: 2.375rem;
	line-height: 0;
}

.logo {
	height: 2.375rem;
	margin-top: .25rem;
}

.navigation {
	display: block;
	float: right;
	margin-top: 1.25rem;
}

.navigation li {
	display: inline-block;
}

.navigation li > a {
	color: #838994;
	display: block;
	font-size: 1.05em;
	padding: 0 .65em;
	line-height: .75em;
}

.navigation li > a:hover {
	color: #333;
}

.navigation li:last-child a {
	padding-right: 0;
}

.active {
	font-weight: bold;
	color: #4C5058;
}


.cover {
	display: block;
	text-align: center;
	background-image: url('../img/first-background.jpg');
	background-size: cover;
	background-position: center;
	padding: 12rem 0;
	margin-top: 2.375rem;
	color: #FFF;
}

.cover h1 {

}

.cover h2 {
	line-height: 3rem;
}

.cta-btn {
	padding: 1rem 2rem;
	color: #FFF;
	background-color: red;
	border-radius: .25rem;
	line-height: 4rem;
}

