html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #FFF;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}


/* Testing utilities. */
.highlight-red {
	background-color: rgba(255,0,0,0.4);
}

.highlight-green {
	background-color: rgba(0,255,0,0.4);
}

.highlight-blue {
	background-color: rgba(0,0,255,0.4);
}

.content {
	width: 46rem;
	margin: 0 auto;
}


/* Typography Stuff */
a {
	text-decoration: none;
}


/* Navigation */
.topNav {
	width: 100%;
	padding: .5rem;
	line-height: 0;
	background-color: #FFF;
	border-bottom: 1px dotted #DDD;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
}

.topNav > .content {
	height: 2.375rem;
	line-height: 0;
}

.logo {
	height: 2.375rem;
	margin-top: .25rem;
}

.navigation {
	display: block;
	float: right;
	margin-top: 1.25rem;
}

.navigation li {
	display: inline-block;
}

.navigation li > a {
	color: #838994;
	display: block;
	font-size: 1.05em;
	font-weight: 400;
	padding: 0 .65em;
	line-height: .75em;
}

.navigation li > a:hover {
	color: #333;
}

.navigation li:last-child a {
	padding-right: 0;
}

.navigation li > a.active {
	font-weight: 500;
	color: #4C5058;
}


.cover {
	display: block;
	text-align: center;
	background-image: url('../img/first-background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 12rem 0;
	margin-top: 2.375rem;
	color: #FFF;
}

.cover h1 {
	font-size: 3.125rem;
	font-weight: 300;
	margin-bottom: -1rem;
}

.cover h3 {
	font-size: 1.563rem;
	font-weight: 300;
	line-height: 3rem;
}

.cta-btn {
	font-size: 1.25rem;
	padding: .75rem 2rem;
	color: #FFF;
	background-color: #f15a29;
	border-radius: .25rem;
	line-height: 2rem;
	font-weight: 400;
	border: 0;
	text-shadow: none;
}

.cta-btn:hover {
	background-color: #d9400e;
}


/* The 'what' section */
.what {
	text-align: center;
	padding: 6rem 0;
}

.what h1 {
	font-weight: 300;
	font-size: 2.75rem;
}

.icons {
	display: block;
}

.icons li {
	display: inline-block;
	padding: 0 4rem;
}

.icons li:first-child {
	margin-left: 0;
}

.icon {
	width: 8rem;
}

